.slider-wrapper {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: scroll; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
    border-radius: .5rem;
}

.slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: .25rem;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider-header {
    text-align: center;
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
    color: #333;
}
