

.btn-lore {
    text-decoration: none;
    color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
         display: block; }
.nav-item .dropdown-menu {     
    margin-top: 0; }

.dropdown-toggle::after {
    display: none; 
}


.btn-danger {
    background-color: #ff6f61; 
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #e65a50; 
    color: white;
}


.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ddd; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.dropdown-item {
    font-size: 14px;
    padding: 10px 20px;
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ff6f61;
    color: white;
}


/* Ajustes del header */
        /* Estilo general para ocupar la altura completa de la página */
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Evitar scroll innecesario */
            font-family: Arial, sans-serif;
        }

        /* Header centrado y más proporcionado */
        header {
            height: 15%; /* Ocupa el 15% de la pantalla */
            background-color: #343a40; /* Fondo oscuro */
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navbar {
            width: 100%;
        }

        .navbar-brand img {
            height: 50px;
        }

        .navbar-nav .btn {
            margin: 0 5px;
        }

        /* Carrusel para ocupar el resto del espacio */
        #newsCarousel {
            height: 85%; /* Resto de la pantalla */
        }

        .carousel-inner {
            height: 100%;
        }

        .carousel-item {
            height: 100%; /* Altura completa */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .carousel-caption {
            position: absolute;
            bottom: 20%;
            background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
            padding: 15px;
            border-radius: 10px;
            color: white;
        }