
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: #ffffff;
    margin-bottom: 30px;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: brown;
    border-bottom: 2px solid brown;
    padding-bottom: 10px;
}

main p, main ul {
    font-size: 1rem;
    margin-bottom: 20px;
}

main ul {
    padding-left: 20px;
}

main li {
    margin-bottom: 10px;
}

main li strong {
    color: brown;
}

.btn-lore {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #4c0000;
    color: white;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid #00000000;
    text-align: center;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .col {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

footer .col img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer .col p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #ffc107; /* Color dorado para el hover */
}

footer .row.mt-3 {
    margin-top: 1rem;
}

footer .row.mt-3 .col p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc; /* Color gris claro para el texto de derechos reservados */
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand img {
        height: auto;
        width: 50px; 
    }
}







