

.btn-lore {
    text-decoration: none;
    color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
         display: block; }
.nav-item .dropdown-menu {     
    margin-top: 0; }

.dropdown-toggle::after {
    display: none; 
}


.btn-danger {
    background-color: #ff6f61; 
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #e65a50; 
    color: white;
}


.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ddd; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.dropdown-item {
    font-size: 14px;
    padding: 10px 20px;
    color: #333; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ff6f61;
    color: white;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

        /* Estilo general para ocupar la altura completa de la página */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-x: hidden;
            font-family: Arial, sans-serif;
        }
        
        

        .navbar {
            width: 100%;
        }

        .navbar-brand img {
            height: 50px;
        }

        .navbar-nav .btn {
            margin: 0 5px;
        }

        .hero {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }
        
        main {
            background-color: #ffffff;
            margin-bottom: 30px;
        }
        
        main h2 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: brown;
            border-bottom: 2px solid brown;
            padding-bottom: 10px;
        }
        
        main p, main ul {
            font-size: 1rem;
            margin-bottom: 20px;
        }
        
        main ul {
            padding-left: 20px;
        }
        
        main li {
            margin-bottom: 10px;
        }
        
        main li strong {
            color: brown;
        }
        
        .btn-lore {
            text-decoration: none;
            color: white;
        }

/* Asegurar que el contenido principal ocupe al menos el espacio restante */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; /* Se expande para ocupar el espacio restante entre el header y el footer */
}
main, .card {
    margin-top: 50px; /* Ajusta este valor según la altura del header */
}


/* Footer siempre visible y sin encimarse */
footer {
    background-color: #4c0000;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid transparent;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

